<% @page_title = "Collection Settings" %>

<% content_for :header do %>
  <nav class="header">
    <div class="header__actions header__actions--start">
      <%= link_to_back fallback_path: cards_path(collection_ids: [ @bbucket ]) %>
    </div>

    <h1 class="header__title overflow-ellipsis"><%= @page_title %></h1>

    <div class="header__actions header__actions--end"></div>
  </nav>
<% end %>

<section class="panels--two-up margin-block">
  <div class="panel shadow center flex flex-column gap">
    <header>
      <h2 class="divider txt-large">Name and Access</h2>
      <div>Choose who can access this Collection</div>
    </header>

    <%= form_with model: @collection, class: "display-contents", data: { controller: "form" } do |form| %>
      <%= render "collections/edit/name", form: form %>
      <%= render "collections/edit/users", collection: @collection, selected_users: @selected_users, unselected_users: @unselected_users, form: form %>

      <button type="submit" id="log_in" class="btn btn--reversed center txt-normal">
        <%= icon_tag "check" %>
        <span>Save changes</span>
      </button>

      <%= link_to "Cancel and go back", cards_path(collection_ids: [ @collection ]), data: { form_target: "cancel", turbo_frame: "_top" }, hidden: true %>
    <% end %>
  </div>

  <div class="panel shadow center flex flex-column gap">
    <%= render "collections/edit/workflows", collection: @collection %>
    <%= render "collections/edit/auto_close", collection: @collection %>
    <%= render "collections/edit/publication", collection: @collection %>

    <hr class="separator--horizontal full-width" style="--border-color: var(--color-ink-light);" aria-hidden="true" />

    <%= render "collections/edit/delete", collection: @collection %>
  </div>
</section>
